page-login {

  .background {
    background-image: url('../assets/imgs/login_back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;

  }
  button {
    top: 70px;
  }
  ion-item {
    top: 60px;
  }
  ion-label {
    color: white;
  }
  .item {

    background: rgba(255, 255, 255, 0);
    border: medium none;

    .text-input {
      color: #fff;
    }

    input::-moz-placeholder {
      color: #fff !important;
    }

    input:-moz-placeholder {
      color: #fff !important;
    }

    *::-webkit-input-placeholder {
      color: #fff !important;
    }

    *:-ms-input-placeholder {
      color: #fff !important;
    }

    *:-moz-placeholder {
      color: #fff !important;
    }
  }

}
