page-tips {
  .background {
    background-color: #F2F2F2;
  }
  ion-card-header {
    background-image: url("../assets/imgs/card_header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    ion-card-title {
      font-size: 15px !important;
      padding: 0px !important;
    }

  }

}
