page-chat-room {
  .username {
    color: #A0A0A0;
  }
  .message {
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;

  }
  .my_message {
    background: color($colors, primary) !important;
    color: white !important;
  }
  .other_message {
    background: #F2F2F2 !important;
    color: #222222 !important;
  }
  .time {
    color: #A0A0A0;
    float: right;

    font-size: small;
  }
  .messageRow {
    background-color: white;
  }
}
